.profileContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.profileContainer img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-right: 2rem;
}

.profileEmployeeContent {
  display: flex;
  align-items: center;
}

.profileEmployeeContent p {
  color: rgb(168, 168, 168);
}

.titles {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 900px;
}

.titles nav ul {
  display: flex;
}

.titles ul span {
  margin-left: 1rem;
}

.titles a {
  color: var(--blue);
  margin-left: 2rem;
}

.cardsList {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #F7F7F7;
  height: 500px;
}
