.profileContainer {
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh -178px);
}

.profileContainer img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-right: 2rem;
}

.profileEmployeeContent {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-image: url('../../images/bgperfil.png');
  background-repeat: repeat;
  background-color: #0f4d80;
  border-radius: .5rem;
  padding: 1rem;
}

.profileEmployeeContent h2 {
  color: #fff;
}

.profileEmployeeContent p {
  color: rgb(167, 167, 167);
}

.profileTitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 1rem;
  border-bottom: 1px solid rgb(218, 218, 218);
  margin-bottom: 1rem;
}

.profileTitles p {
  color: #1A75C1;
}

.profileTitles nav ul {
  display: flex;
}

.profileTitles ul span {
  margin-left: 1rem;
}

.profileTitles a {
  color: var(--blue);
  margin-left: 2rem;
}


.cardContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cardContent p {
  color: #999;
  font-size: 14px;
  height: 160px;
  text-align: center;
  margin-top: 20px;
  word-break: break-word;
}

section.cardsContainer {
  width: 1200px;
  min-height: calc(100vh - 362px);
  margin: 0 auto;
  background-color: #F7F7F7;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.cardsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 3.5rem;
}

.cardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #CCC;
    padding-bottom: 5px;
}


.cardTitle img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 2rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  margin-top: 10px;
}

.tags span {
  margin: 12px 10px 0px 0;
  background-color: cornflowerblue;
  color: var(--white);
  font-size: 12px;
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  height: 20px;
}

.dateStyle {
  text-align: center;
    padding: 1rem;
    color: #333;
    font-size: 14px;
    margin-top: 30px;
}

.card {
  padding: 1rem;  
  width: 31%;
  margin: 0.7rem;
  height: 380px;
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 2px 2px #ccc;
}