main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
  height: 500px;
  border-radius: .25rem;
  padding: 1rem 1rem;
}

main .mainHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
}

main ul {
  display: flex;
}

main ul li {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

main a {
  color: black;
}

.cardsList {
  width: 1120px;
  margin: 2rem auto;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100px;
  margin-top: 2rem;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #dddddd;

}

.card h3 {
  margin-bottom: 1.4rem;
}

.card img {
  width: 50px;
  border-radius: 100%;
}


