main {
  max-width: 1200px;
  margin: 0 auto 2rem;
  background-color: var(--white);
  border-radius: .25rem;
  padding: 1rem 1rem;
  background-color: #228de421;
}

main h2 {
  margin: 2rem;
  border-bottom: 2px solid #CCC;
  color: var(--blue);
}

main .mainHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
}

main ul {
  display: flex;
}

main ul span {
  margin-left: 6px;
}

main ul li {
  margin-right: 2rem;
  margin-bottom: 1rem;
  font-size: 10px;
}

main p, a {
  color: var(--blue);
}

.cardsList {
  max-width: 1120px;
  margin: 2rem auto;
  justify-content: center;
  background-color: var(--white);
}

.cardsList h4 {
  margin-top: 2rem;
}

.card {
  /* height: 100px; */
  margin: 2rem 0;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  background-color: #0c6ebe21;
  box-shadow: 2px 1px 5px 0 rgb(175, 175, 175);
  padding: 1rem 1rem 1rem 0;
  flex: 1;
  text-align: justify;
}

.cardInvisible {
  height: 100px;
  margin: 2rem 0;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  background-color: rgba(0, 0, 0, 0.1);

  flex: 1;
}


.card h3, .cardInvisible h3 {
  margin-bottom: 1.4rem;
}

.card img,.cardInvisible img {
  width: 60px;
  height: 60px;
  margin: 0 2rem;
  border-radius: 2rem;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 980px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
}

.cardContent button {
  padding: 0  1rem;
  cursor: pointer;
  height: 25px;
  width: 150px;
  border-radius: .25rem;
  border: none;
  background-color: #ccc;
  font-weight: 600;
}

.cardContent button:hover {
  background-color: rgb(165, 165, 165);
}


.withoutFeedbackEnviado button {
  margin-top: 2rem;
  height: 30px;
  width: 220px;
  border-radius: .25rem;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: #1A75C1;
  font-weight: bold;
}





