
:root {
  font-size: 16px;
  --light-green: #58af9b;
  --light-gray: #7f8c8d;
  --white: #fff;
  --blue: #1A75C1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

input[type='file'] {
  display: none;
} 

a {
  text-decoration: none;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.classe {
  color: black;
}