.registerUserContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 960px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.signIn {
  width: 40%;
  background-color:#1A75C1;
  padding: 2rem;
  border-radius: 1rem 0 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: var(--white);
}

.signIn div:nth-child(2) {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.signIn div:nth-child(2) p {
  margin-top: 2rem;
}

.signIn div button {
  margin-top: 1rem;
  height: 30px;
  background-color: var(--white);
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  font-weight: 600;
  color: rgb(87, 87, 87);
}

.signIn button:hover {
  filter: brightness(0.9);
}

.registerForm {
  width: 60%;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerForm h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #1A75C1;
}

.registerForm div {
  margin: .5rem auto;
}

.registerForm input {
  width: 400px;
  height: 40px;
  border: none;
  background-color:  #ecf0f1;
  padding-left: 10px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2px;
}

.registerForm input::placeholder {
  font-weight: 600;
}

.registerForm div:nth-child(6) {
  margin-left: 3.4rem;
}

.strengthStatus {
  border: 1px solid #b4b4b4;
  display: flex;
  flex-direction: column;
  height: 40px;
  font-size: 10px;
  border-radius: .25rem;
  margin: 5px 0;
  
}

.fileLabel label{
  padding: .5rem;
  width: 170px;
  height: 40px;
  display: flex;
  border-radius: .20rem;
  background-color:  #ecf0f1;
  color: rgb(87, 87, 87);
  text-align: center;
  display: flex;
  align-items: center;
  font-size: .9rem;
  font-weight: 600;
  justify-content: center;
  cursor: pointer;
}

.buttonSubmit {
  display: flex;
  width: 400px;
  justify-content: center;
}

.buttonSubmit button {
  padding: .5rem;
  border-radius: 1rem;
  width: 200px;
  background-color: #1A75C1;
  color: var(--white);
  border: none;
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

.buttonSubmit button:hover {
  filter: brightness(0.9);
}