header {
  background-color: #1A75C1;
}
.contentFlex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 15px 0;
}
.user {
  display: flex;
  color: #FFFF;
  align-items: center;
}
.user a {
  color: #FFF;
}

.user p {
  font-size: 12px;
}

.user svg {
  font-size: 16px;
  margin-left: 5px;
}

.user img {
  border-radius: 100%;
  margin-right: 10px;
}

.user span {
  margin-right: 50px;
}