header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  background-color: #1A75C1;
  padding: 20px 0;
}

.user {
  display: flex;
  color: #FFFF;
  align-items: center;
}

.user a {
  color: #FFF;
  font-size: 22px;
}

.user svg {
  font-size: 28px;
  margin-top: 5px;
}

.user img {
  border-radius: 100%;
  margin-right: 10px;
}

.user span {
  margin-right: 30px;
}