.footercontainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  height: 40px;
}

footer {
  background-color: #1A75C1;
}

.footercontainer small {
  color: var(--white);
  margin-top: 13px;
  width: 100%;
  text-align: right;
}