section.sendFeedbackContainer {
  max-width: 1120px;
  background-color: #228de421;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding-bottom: 2rem;

}

.sendFeedbackHeader {
  padding: 1rem 0 ;
  border-bottom: 1px solid #ccc;
  color: #1A75C1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem
}

.sendFeedbackHeader a {
  color: black;
}

.cardList {
  max-width: 920px;
  margin: 2rem auto;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.card {
  height: 100px;
  margin: 2rem 0;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  box-shadow: 2px 1px 5px 0 rgb(175, 175, 175);
}

.card img {
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  margin-left: 2rem;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 700px;
  margin: 0 auto;
  color: #1A75C1;
}

.cardContent button {
  cursor: pointer;
  height: 30px;
  width: 200px;
  background-color: rgba(26, 117, 193, 0.1);
  border-radius: 1rem;
  border: none;
  color: #1A75C1;
  font-weight: 600;
}

.cardContent p {
  color: rgb(163, 163, 163);
}

.reactModalOverlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

}

.reactModalContent {
  width: 100%;
  max-width: 1120px;
  /* height: 500px; */
  background-color: var(--white);
  padding: 2rem;
  position: relative;
  border-radius: .25rem;
}

.reactModalContent h4 {
  color: #1A75C1;
}

.reactModalContent .feedbackInfo p {
  height: 40px;
  background-color: rgba(26, 117, 193, 0.1);
  color: #1A75C1;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.feedbackContent p {
  text-align: center;
  margin-top: 1rem;
  color: rgb(167, 167, 167);
}

.feedbackType{
  display: flex;
  margin: 1rem 0;

  display: flex;
  justify-content: center;
}

.feedbackType span:first-child {
  margin-right: 4rem;
} 

.feedbackContent select {
  width: 300px;
  height: 30px;
  margin: .25rem 0 1rem;
  border: 1px solid #1A75C1;
  outline: 1px solid #1A75C1;
  border-radius: .25rem;
}

.feedbackContent textarea {
  width: 100%;
  height: 80px;
  margin-bottom: .5rem;
  border: 1px solid #1A75C1;
  border-radius: .25rem;
  outline: 1px solid #1A75C1;
  padding-left: 5px;
}

.feedbackContent button {
  cursor: pointer;
  height: 30px;
  width: 200px;
  background-color: rgba(26, 117, 193, 0.1);
  border-radius: 1rem;
  border: none;
  color: #1A75C1;
  font-weight: 600;
}

button:hover {
  filter: brightness(0.6);
}

.sendFeedbackButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sendFeedbackButton input[type='checkbox'] {
  margin:0 5px 0 12px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.feedbackContent span {
  margin: 0 .5rem;
  padding: .25rem;
  background-color: #1A75C11a;
  border-radius: .25rem;
}