.footercontainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  height: 40px;
}

footer {
  background-image: url('../../images/background.png');
  background-size: 800px;
  background-position:left;
}

.footercontainer small {
  color: var(--white);
  margin-top: 13px;
  width: 100%;
  text-align: right;
}